<style>
    {include file="../../../css/brlgs.backend.settings.css" inline}
</style>


<h1>[`Brand logos`]</h1>
<div class="fields form">
    <form action="?module=plugins&id=brlgs&action=save" method="post" id="plugins-settings-form">
        {$wa->csrf()}

        {foreach $settings_controls as $name => $control}
        <div class="field">
            {$control}
        </div>
        {/foreach}

        <div class="field">
            <div class="value submit">
                <input type="submit" class="button green" value="{_w('Save')}">
                <span id="plugins-settings-form-status" style="display:none"><!-- message placeholder --></span>
            </div>
        </div>
    </form>
</div>

{include file="../../BackendBrands.html" inline}

<script type="text/javascript">
    {include file="../../../js/brlgs.backend.settings.js"}
</script>

<script type="text/javascript">
    (function ($) {
        brlgsBackendSettings.initModule();
    })(jQuery);
</script>